{% include 'top_html.jinja2'%} 
<!-- the stylesheet prevents scrolling for the purpose of the game, overwrite for this page -->
<style>
html, body
{
    overflow: visible
    background-color: #000000
}
</style>
</head>
<body>
<h1>Welcome to TheGame!</h1>
<p>Go to <a href="/">the start</a> and select an economist.</p>
<p>When the game loads, use the policy settings button to try and influence the economy.</p>
<p>The machine will decide how well you did!</p>
</body>
</html>